.MessagesContainer {
  /* position: relative; */
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
}

.MessageBox {
  position: absolute;
  bottom: 20px;
  left: 15%;
  padding: 2rem;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 70%;
  border: 4px solid;
  font-size: 2rem; 
}

.ChoicesBox {
  position: absolute;
  top: 15%;
  right: 20px;
  width: 200px;
  color: white;
  border-radius: 10px;
}

.ChoiceButton {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  background: transparent;
  border: none;
  border: 5px solid purple;
  text-align: left;
  cursor: pointer;
  transition: background 0.5s; 
  border-radius: 15px;
  font-size: 1.5rem; 
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}




.ChoiceButton:hover {
  background: rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  background-color: purple;
  color: hsl(0, 0%, 5%);
}
.status-container {
  width: 35%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.status-subcontainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.status-item {
  display: flex;
  align-items: center;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

@keyframes colorChange {
  0%   { color: black; }
  50%  { color: blue; }
  100% { color: black; }
}

.colorChange {
  animation: colorChange 2s;
}

@keyframes textGlow {
  0%   { text-shadow: 0 0 5px #000; }
  50%  { text-shadow: 0 0 20px #000, 0 0 30px #000; }
  100% { text-shadow: 0 0 5px #000; }
}

.textGlow {
  animation: textGlow 2s;
}

.hide {
  display: none;
}